<div class="main-content"  *ngIf="graphQL$ | async as graphQL">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <p class="card-title h3">
              Sources for {{ graphQL.data.artist.name }}
              <br>
              <a
                class="btn btn-success btn-sm"
                routerLink="/artist/{{ graphQL.data.artist.id }}"
                [queryParams]="{year: year}"
              >Performances</a>
              <ng-container *ngIf="graphQL.data.artist.artistToArtistGroups.edges">
                <a
                  *ngFor="let artistGroupEdge of graphQL.data.artist.artistToArtistGroups.edges"
                  class="btn btn-success btn-sm"
                  (click)="this.showSets = ! this.showSets">{{ artistGroupEdge.node.artistGroup.title }} Artist Group</a>
              </ng-container>
            </p>

            <div class="card-category">
              <a
                class="year-link"
                [ngClass]="{
                  'year-link-active': y === this.year
                }"
                *ngFor="let y of this.graphQL.data.years"
                routerLink="/sources/{{ graphQL.data.artist.id }}"
                [queryParams]="{
                  year: y
                }"
              >{{ y === 1939 ? 'unknown': y }}</a>


              <div *ngIf="graphQL && (
                graphQL.data.sources.pageInfo.hasNextPage ||
                graphQL.data.sources.pageInfo.hasPreviousPage
                )">

                <a routerLink="/sources/{{ graphQL.data.artist.id }}" [queryParams]="{year: year, page: 1}" class="pagination-link">
                  |&lt; FIRST</a>

                <a routerLink="/sources/{{ graphQL.data.artist.id }}" [queryParams]="{year: year, page: this.page - 1}" class="pagination-link"
                  *ngIf="graphQL.data.sources.pageInfo.hasPreviousPage" class="pagination-link">
                  &lt; PREV</a>

                <ng-container *ngFor="let p of this.pages">
                  <a routerLink="/sources/{{ graphQL.data.artist.id }}" [queryParams]="{year: year, page: p}" class="pagination-link"
                    [ngClass]="
                      {
                        'pagination-link-active': p === this.page
                      }
                    ">{{ p }}</a>
                </ng-container>

                <a routerLink="/sources/{{ graphQL.data.artist.id }}" [queryParams]="{year: year, page: this.page + 1}" class="pagination-link"
                  *ngIf="graphQL.data.sources.pageInfo.hasNextPage" class="pagination-link">
                  NEXT &gt;</a>

                <a routerLink="/sources/{{ graphQL.data.artist.id }}" [queryParams]="{year: year, page: this.maxPage}" class="pagination-link">
                  LAST |&gt;</a>

                Jump to page
                <input
                  type="number"
                  min="1"
                  max="{{ this.maxPage }}"
                  style="width: 3em;"
                  (change)="jumpToPage()"
                  [(ngModel)]="pageJump"
                >
                of {{ this.maxPage }}
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="card-body">
              <div class="table-responsive">

                <table class="table table-double-striped">
                  <thead class=" text-primary">
                    <th>
                      SHNID
                    </th>
                    <th>
                      Date
                    </th>
                    <th>
                      Venue
                    </th>
                    <th>
                      City
                    </th>
                    <th>
                      State
                    </th>
                    <th>
                      Archive Identifier
                    </th>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let edge of graphQL.data.sources.edges">
                      <tr>
                        <td>
                          <a routerLink="/source/{{ edge.node.id }}">
                            {{ edge.node.id }}
                          </a>
                        </td>
                        <td>
                          <a routerLink="/performance/{{ edge.node.performance.id }}"
                            [innerHTML]="edge.node.performance | formatPerformanceDate"
                          ></a>
                        </td>
                        <td>{{ edge.node.performance.venue }}</td>
                        <td>{{ edge.node.performance.city }}</td>
                        <td>{{ edge.node.performance.state }}</td>
                        <td>
                          <a *ngIf="edge.node.archiveIdentifier"
                            href="https://archive.org/details/{{ edge.node.archiveIdentifier }}"
                          >
                            {{ edge.node.archiveIdentifier }}
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="6" [innerHTML]="edge.node.comments"></td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>