<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-warning">
                  <h4 class="card-title ">
                    Welcome to the Live Concert Database [LCDB].
                  </h4>
              </div>

              <div class="card-body">
                <p>
                  This website will replace
                  <a href="https://etreedb.org">etreedb.org</a> in time.  While this process
                  is taking place this website will use the exact same database as
                  <a href="https://etreedb.org">etreedb.org</a>
                  so all changes on each site will be reflected in each other.
                </p>
              </div>
          </div>
      </div>
  </div>
</div>
