<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ng-container *ngIf="graphQL$ | async as graphQL">

        <div class="card">
          <div class="card-header card-header-warning">
            <p class="card-title">
              <span class="h3">Artist Groups</span>
            </p>

            <p class="card-category">
              <a *ngFor="let x of [].constructor(26); let i = index" class="alphabet" [ngClass]="{
                  'alphabet-active': this.chr === getAlphabetLetter(i, false)
                }" [routerLink]="['/artist-groups']" [queryParams]="{chr: getAlphabetLetter(i, false)}">
                {{ getAlphabetLetter(i, true) }}
              </a>
              <a class="alphabet" [routerLink]="['/artist-groups']" [queryParams]="{chr: 'other'}" [ngClass]="{
                  'alphabet-active': this.chr === 'other'
                }">
                other
              </a>

              <br>

              <span class="alphabet-link">
                Filter
                <input
                  type="text"
                  style="width: 15em;"
                  (change)="applyFilter()"
                  [(ngModel)]="filter"
                >
              </span>
            </p>


              <p class="card-category" *ngIf="(
                graphQL.data.artistGroups.pageInfo.hasNextPage ||
                graphQL.data.artistGroups.pageInfo.hasPreviousPage
              )">

                <a routerLink="/artist-groups" [queryParams]="{chr: this.chr, page: 1}" class="pagination-link">
                  |&lt; FIRST
                </a>

                <a routerLink="/artist-groups" [queryParams]="{chr: this.chr, page: this.page - 1}"
                  *ngIf="graphQL.data.artistGroups.pageInfo.hasPreviousPage" class="pagination-link">
                  &lt; PREV
                </a>

                <ng-container *ngFor="let p of this.pages">
                  <a routerLink="/artist-groups" [queryParams]="{chr: this.chr, page: p}" class="pagination-link"
                    [ngClass]="
                      {
                        'pagination-link-active': p === this.page
                      }
                    ">
                    {{ p }}
                  </a>
                </ng-container>

                <a routerLink="/artist-groups" [queryParams]="{chr: this.chr, page: this.page + 1}"
                  *ngIf="graphQL.data.artistGroups.pageInfo.hasNextPage" class="pagination-link">
                  NEXT &gt;
                </a>

                <a routerLink="/artist-groups" [queryParams]="{chr: this.chr, page: this.maxPage}"
                  class="pagination-link">
                  LAST |&gt;
                </a>

                Jump to page
                <input
                  type="number"
                  min="1"
                  max="{{ this.maxPage }}"
                  style="width: 3em;"
                  (change)="jumpToPage()"
                  [(ngModel)]="pageJump"
                >
                of {{ this.maxPage }}

                <br>

                <span class="pagination-link">
                  <a routerLink="/artist-group/{{ graphQL.data.artistGroups.edges[0].node.id }}">
                    {{ graphQL.data.artistGroups.edges[0].node.title }}
                  </a>
                  to
                  <a
                    routerLink="/artist-group/{{ graphQL.data.artistGroups.edges[graphQL.data.artistGroups.edges.length - 1].node.id }}">
                    {{ graphQL.data.artistGroups.edges[graphQL.data.artistGroups.edges.length - 1].node.title }}
                  </a>
                </span>
              </p>
            </div>

            <div class="card-body" *ngIf="graphQL && ! graphQL.data.artistGroups.totalCount">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    No results found
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body" *ngIf="graphQL && graphQL.data.artistGroups.totalCount">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <a style="display: block"
                      *ngFor="let edge of graphQL.data.artistGroups.edges.slice(
                        0,
                        (graphQL.data.artistGroups.edges.length | ceil) / 3
                      )"
                      [routerLink]="['/artist-group', edge.node.id]"
                    >
                      {{ edge.node.title }}</a>
                  </div>
                  <div class="col-md-4">
                    <a style="display: block"
                      *ngFor="let edge of graphQL.data.artistGroups.edges.slice(
                        (graphQL.data.artistGroups.edges.length | ceil) / 3,
                        ((graphQL.data.artistGroups.edges.length | ceil) / 3) * 2
                      )"
                      [routerLink]="['/artist-group', edge.node.id]">{{
                      edge.node.title }}
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a style="display: block"
                      *ngFor="let edge of graphQL.data.artistGroups.edges.slice(
                        ((graphQL.data.artistGroups.edges.length | ceil) / 3) * 2
                      )"
                      [routerLink]="['/artist-group', edge.node.id]">{{
                      edge.node.title }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>