.alphabet {
  padding-right: 1em;
  font-weight: bold;
}

.alphabet-active {
  text-decoration: underline;
}

.pagination-link {
  padding-right: 1em;
}

.pagination-link-active {
  text-decoration: underline;
}
